*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("fondo.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    
    }

    .fondoingles{
    
        background-image: url("fondoingles.webp");
        
        background-repeat: no-repeat;
        background-size: cover;
        
        }

    .fondobio{
    
        background-image: url("fondobio.jpg");
        
        background-repeat: no-repeat;
        background-size: cover;
        
        }

    .fondosoci{
    
        background-image: url("fondosoci.jpg");
        
        background-repeat: no-repeat;
        background-size: cover;
        
        }

    .fondomate{
    
        background-image: url("fondomate.jpg");
        
        background-repeat: no-repeat;
        background-size: cover;
        
        }

    .fondoreli{
    
        background-image: url("fondoreli.jpg");
        
        background-repeat: no-repeat;
        background-size: cover;
        
        }
    
    .fondotecno{
    
        background-image: url("fondotecno.jpg");
        
        background-repeat: no-repeat;
        background-size: cover;
        
        }
    
    .img{
    
    position: relative;
    
     
    
    width: 190px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("fondo2.jpg");
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    
    color: brown;
    
     
    
    }
    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
         
        
        .imagentecno{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 350px;
        
        width: 480px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("fondotecno2.jpg");
        
        }
        
        
        
        .textotecno{
        
        text-align: justify;
        
        color: rgb(255, 255, 255);
        
        font-size: 20px;
        
        
        
        }
           
        .contenido{

            height: 280px;
            
            width: 100%;
            
            position: absolute;
            
            top: 410px;
            
             
            
            }
            
             
            
            .imagenreli{
            
             
            
            background-repeat: no-repeat;
            
            float:left;
            
            height: 200px;
            
            width: 260px;
            
            margin-left: 5px;
            
            margin-right: 5px;
            
            background-image: url("");
            
            }
            
            
            
            .textoreli{
            
            text-align: justify;
            
            color: rgb(0, 0, 0);
            
            font-size: 20px;
            
            
            
            }
            
         
.contenido{

    height: 280px;
    
    width: 100%;
    
    position: absolute;
    
    top: 410px;
    
     
    
    }
    
     
    
    .imagenmate{
    
     
    
    background-repeat: no-repeat;
    
    float:left;
    
    height: 200px;
    
    width: 480px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("fondomate2.webp");
    
    }
    
    
    
    .textomate{
    
    text-align: justify;
    
    color: azure;
    
    font-size: 20px;
    
    
    
    }
    
    
    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
         
        
        .imagensoci{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 350px;
        
        width: 480px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("fondosoci2.jpg");
        
        }
        
        
        
        .textosoci{
        
        text-align: justify;
        
        color: azure;
        
        font-size: 20px;
        
        
        
        }


        .contenido{

            height: 280px;
            
            width: 100%;
            
            position: absolute;
            
            top: 410px;
            
             
            
            }
            
             
            
            .imageningles{
            
             
            
            background-repeat: no-repeat;
            
            float:left;
            
            height: 250px;
            
            width: 480px;
            
            margin-left: 5px;
            
            margin-right:5px;
            
            background-image: url("fondoingles2.jpg");
            
            }
            
            
            
            .textoingles{
            
            text-align: justify;
            
            color: azure;
            
            font-size: 20px;
            
            
            
            }
        

            .contenido{

                height: 280px;
                
                width: 100%;
                
                position: absolute;
                
                top: 410px;
                
                 
                
                }
                
                 
                
                .imagenbio{
                
                 
                
                background-repeat: no-repeat;
                
                float:left;
                
                height: 200px;
                
                width: 260px;
                
                margin-left: 5spx;
                
                margin-right: 5px;
                
                background-image: url("");
                
                }
                
                
                
                .textobio{
                
                text-align: justify;
                
                color: azure;
                
                font-size: 20px;
                
                
                
                }

    